/* CSS Document */
.alert-displays {
    width: 100%;
    height: 600;
    background-color:#F8F8F8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10%;
    padding-right: 5%;
    padding-left: 5%;
	text-align: center;
	margin-left: auto;
	marin-right: auto;
}

#alert-holder{
    background-color: white;
    margin-left: 5%;
    margin-right: 5%;
    width: 95%;
    height: 100%;
    border-radius: 35px;
    margin-top: 3%;
    margin-bottom: 10%;
}

.alert-symbol{
    width: 65%;
    height: 250px;
    background-image: url(resources/alert.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
	margin-bottom: 20px;
}

.report-title{
    margin-bottom:40px;
    margin-top:20px;
    font-size:18px;
    font-family: "San Francisco", sans-serif;
    font-weight: bold;
    color: #532EBF;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
}

.report-btn{
    margin-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 70px;
    border-color: #532EBF;
    color: #532EBF;
    letter-spacing: 1px;
    background-color:#FFFFFF;
    background-position: center;
    transition-duration: 300ms;
    border: 0.1 solid #532EBF;
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
	text-transform:uppercase;

}

.report-btn:hover{
    margin-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 70px;
    border-color: #532EBF;
    color: #FFFFFF;
    letter-spacing: 1px;
    background-color: #532EBF;
    transition-duration: 300ms;
    border: 0.1 solid #532EBF;
    cursor: pointer;
	font-size: 14px;
    width: 60%;
	text-transform:uppercase;

}