/* CSS Document */
.vend-symbol{
    width: 55%;
    height: 100px;
    background-image: url(resources/vended.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
	margin-bottom: 20px;
}

.vended-title{
    margin-bottom:20px;
    margin-top:20px;
    font-size:20px;
    font-family: "San Francisco", sans-serif;
    font-weight: bold;
    color: #532EBF;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
}

.home-btn{
    margin-top: 50px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 50px;
    padding-bottom: 7px;
    border-radius: 70px;
    border-color: #532EBF;
    color: #532EBF;
    letter-spacing: 1px;
    background-color:#FFFFFF;
    background-position: center;
    transition-duration: 300ms;
    border: 0.1 solid #532EBF;
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
	text-transform:uppercase;

}

.home-btn:hover{
	
	margin-top: 50px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 50px;
    padding-bottom: 7px;
    border-radius: 70px;
    border-color: #532EBF;
    color: #FFFFFF;
    letter-spacing: 1px;
    background-color:#532EBF;
    background-position: center;
    transition-duration: 300ms;
    border: 0.1 solid #532EBF;
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
	text-transform:uppercase;

}

.message-holder{
    width: 100%;
    height:169px;
    background-image: url("resources/blob.png");
    background-position: center;
    background-size: contain;
	align-content: center;
    background-repeat: no-repeat;
    margin-bottom: 0;
	padding-bottom: 0;
	bottom: 0;
    position:fixed;
    bottom:0px;
    left:0;
}

.vend {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.message{
    margin-bottom:20px;
    margin-top:50px;
    font-size:18px;
    font-family: "San Francisco", sans-serif;
    font-weight: bold;
    color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
}

.sub-message{
    margin-bottom:5px;
    margin-top:5px;
    font-size:18px;
    font-family: "San Francisco", sans-serif;
    font-weight: bold;
    color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
	letter-spacing: 1px
}


